*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


p{
    color: #3C4858;
}

body{
    background-color: #F8FAFC;
    color: #1F2937;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
     padding-top: 110px;

}
h2{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #1E3A8A;
    margin-bottom: 24px;
}

h3{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1E3A8A;
}
h1{
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #1E3A8A;
}
button{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

/* POČETAK HERO SEKCIJE */

#hero-sekcija{
    background-color: #F8FAFC;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.hero-content p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}
.hero-content{
    background-color: #FFFFFF;
    width: 60%;
    text-align: center;
    padding: 35px;
    border-radius: 20px;
    box-shadow:  0 20px 40px rgba(0, 0, 0, 0.08);
 
}

.hero-dugme{
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #3B82F6;
    color:  #FFFFFF;
    font-weight: 600;
    border: 1px solid  #FFFFFF;
}

.hero-dugme:hover{
    background-color: #1E3A8A;
    cursor: pointer;
    transform: scale3d(1.05, 1.05, 1);
    border: 1px solid #1E3A8A;
}
.hero-dugme2{
    background: transparent;
    padding: 10px;
    border: 2px solid #3B82F6;
    color: #3B82F6;
    border-radius: 10px;
    font-weight: 600;
}
.hero-dugme2 a{
    text-decoration: none;
    color: #1E3A8A;
}

.hero-dugme2:hover{
    background: #3B82F6;
    color: white;
    cursor: pointer;
}


/* KRAJ HERO SEKCIJE */

/*POCETAK TRUST BAR SEKCIJE*/
#trustBar{
    background-color: #FFFFFF;
    padding: 50px 0;
}
.trustBar-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    margin: 30px auto;
}
.stavkaGrid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.stavkaGrid{
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
}
.stavkaGrid.show{
    opacity: 1;
    transform: translateY(0);
}

/* POČETAK USLUGE SEKCIJE */

#usluge-sekcija{
    background-color: #F1F5F9;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
#usluge-sekcija h2{
    text-align: center;
    margin-bottom: -15px;
}

.usluga{
    margin: 10px;
    padding: 30px;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 30px 50px rgba(0,0,0,0.09); 
    transition: 0.3s ease;
}
.usluga h3{
    color: #1E3A8A;
}
.usluge{
    width: 70%;
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.usluga-slika{
    width: 100%;
    height: 160px;
    border-radius: 10px;
}

.usluga-slika img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.dugmeKonsultacija{
   margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    background-color: #3B82F6;
    color:  #FFFFFF;
    font-weight: 600;
    border: 1px solid  #FFFFFF;
}
.dugmeKonsultacija:hover{
     background-color: #1E3A8A;
    cursor: pointer;
    transform: scale3d(1.05, 1.05, 1);
    border: 1px solid #1E3A8A;
}

.usluga:hover{
    transform: scale3d(1.05, 1.05, 1);
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}


/* KRAJ USLUGE SEKCIJE */


/* POCETAK SEKCIJE O NAMA */

#Onama-sekcija{
    background-color:#FFFFFF;
    text-align: center;
    padding: 50px 0;
}
.Onama-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.jelena{
    background-color: aliceblue;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
    height: 370px;
    justify-self: center;
    opacity: 0;
    animation-fill-mode: forwards;
}
.jelena-slika img{
    width: 100%;
    height: 370px; 
    border-radius: 10px 0px 0px 10px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
}
.opis{
    padding: 10px;
    font-size: 16px;
}
.dragana{
    background-color: aliceblue;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
    height: 370px;
    justify-self: center;
    opacity: 0;
    animation-fill-mode: forwards;
}
.drDragana-slika img{
    width: 100%;
    height: 370px; 
    border-radius: 10px 0px 0px 10px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
}
.jelena{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.dragana{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.jelena{
    animation: slideInLeft 1s ease forwards;
    animation-delay:0,2s;
}
.dragana{
    animation: slideInRight 1s ease forwards;
    animation-delay:0,2s;
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}



/* KRAJ SEKCIJE O NAMA */

/* POCETAK SEKCIJE NASI RADOVI */

#nasi-radovi{
    background-color: #F8FAFC;
   padding: 50px 0;
    text-align: center;
}
.nasi-radovi-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    margin: 30px auto;
}

.nas-rad{
    width: 100%;
    height: 250px;
    opacity: 0.7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.nas-rad img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.nas-rad:hover{
    transform: scale3d(1.05, 1.05, 1);
    opacity: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}


/* KRAJ SEKCIJE NASI RADOVI */

/* POCETAK SEKCIJE UTISCI */

#utisci-sekcija{
    background-color:#FFFFFF;
    padding: 50px 0;
}
#utisci-sekcija h2{
    text-align: center;
}
.utisci-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: 30px auto;

}

.osoba-utisak img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.utisak{
    background-color:#add8e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.osoba-utisak{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.text-utisak{
    font-style: italic;
    margin-top: 2px;
}

.utisak i{
    color: gold;
    margin-left: 0px;
}

nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100000;
    background: #FFFFFF;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}
nav.scrolled {
  padding: 15px 8%;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}
.navigacija-lista{
    display: flex;
    list-style: none;
    padding: 10px;
}
.navigacija-lista a{
    margin: 0 15px;
    text-decoration: none;
    color: #1F2937;
}
.navigacija-lista li{
    font-size: 20px;
}
.navigacija-lista li button{
    padding: 8px 15px;
    background-color: #3B82F6;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}
.navigacija-lista li button:hover{
    background-color: #1E3A8A;
    cursor: pointer;
    transform: scale3d(1.05, 1.05, 1);
}
.logo img{
    height: 100px;
    width: 160px;
    margin-left: 20px;
}
.navigacija-lista a:hover{
    color: #3B82F6;
}

 #menu-toggle {
  display: none;
} 

.hamburger {
  display: none;
}
.stavkaGrid{
    text-align: center;
}


@media(max-width:1024px){
      .jelena{
        height:100%;
    }
    .jelena-slika img{
        height: 100%;
    }
     .dragana{
        height:100%;
    }
    .drDragana-slika img{
        height: 100%;
    }
}

@media(max-width:900px){
      .jelena{
        height:100%;
    }
    .jelena-slika img{
        height: 100%;
    }
     .dragana{
        height:100%;
    }
    .drDragana-slika img{
        height: 100%;
    }
     .navigacija-lista{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }
    #menu-toggle:checked ~ .navigacija-lista{
        display: flex;
    }
    .hamburger{
        display: flex;
    }
}

@media(max-width: 768px){
    .navigacija-lista{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }
    #menu-toggle:checked ~ .navigacija-lista{
        display: flex;
    }
    .hamburger{
        display: flex;
    }
     .nasi-radovi-grid{
            grid-template-columns: 1fr;
            width:70%;
    }
    .Onama-grid{
                grid-template-columns: 1fr;
        }
         .utisci-grid{
        grid-template-columns: 1fr;
    }
    .usluge{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
      #hero-sekcija{
        height: 70%;
    }
}
@media(max-width: 600px){
    #hero-sekcija{
        height: 70%;
    }
    .hero-content{
        width: 90%;
    }
     .nasi-radovi-grid{
            grid-template-columns: 1fr;
    }
     .usluge{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media(max-width: 500px){
    .utisci-grid{
        grid-template-columns: 1fr;
    }
    .nasi-radovi-grid{
            grid-template-columns: 1fr;
    }
    .Onama-grid{
            grid-template-columns: 1fr;
        }
    .jelena{
        height:100%;
    }
    .jelena-slika img{
        height: 100%;
    }
     .dragana{
        height:100%;
    }
    .drDragana-slika img{
        height: 100%;
    }
    .trustBar-grid{
            grid-template-columns: 1fr 1fr;
        }
    .hero-content{
        width: 90%;
    }
     .usluge{
        display: grid;
        grid-template-columns: 1fr;
    }
}

